In [57]:
# Initialize Otter
import otter
grader = otter.Notebook("lab04.ipynb")

In [58]:
import sqlalchemy
import sqlite3
import pandas as pd
import numpy as np

# Lab 4: SQL 
This notebook is an introduction to SQL. **We will be working with a SQLite dataset: the International Debt (2) Database collected by [the World Bank](https://www.worldbank.org/en/programs/debt-statistics/ids#standard). The dataset contains information about the amount of debt (in USD) owed by developing countries across several categories.** We are going to find the answers to questions like:

- What is the total amount of debt that is owed by the countries listed in the dataset?
- Which country owns the maximum amount of debt and what does that amount look like?
- What is the average amount of debt owed by countries across different debt indicators? 

From the International Debt (2) Database, we will be working with the debt table that includes 5 columns and 2357 rows. We will use this international debt database table to practice basic SQL queries with [SQL magic functions](https://jupyter-tutorial.readthedocs.io/en/stable/data-processing/postgresql/ipython-sql.html).

**Learning Objectives:**   
- Practice basic SQL queries
- Translate between SQL queries and Pandas methods

## Setup

In [59]:
# %load_ext sql
%reload_ext sql

In [60]:
# create a SQL Alchemy connection to the database
%sql sqlite:///international_debt_2.db
conn = sqlite3.connect("international_debt_2.db")
engine = sqlalchemy.create_engine("sqlite:///international_debt_2.db")

Let's load in the database by using cell magic so that we can explore the database.

In [61]:
%%sql
SELECT * FROM sqlite_master WHERE type='table';

 * sqlite:///international_debt_2.db
Done.

[('table', 'debt', 'debt', 2, 'CREATE TABLE debt (country_name CHAR (50), country_code CHAR (50), indicator_name TEXT, indicator_code TEXT, debt NUMERIC)')]

From running the above cell, we see the database has one table debt that we will be using in this notebook.

---
## Part 1: Exploring the Data

We want to read the data from a SQL database using a SQL query. 

SQL queries will be written within """s in the beginning and end of the code. After the query is written, we will use `pd.read_sql(query, engine)` to return a Pandas dataframe of the output data. An outline of a written query with the corresponding pandas function is shown below.

```python
# write the SQL query here
query = """
SELECT ...
"""
# this will execute the query and return a Pandas dataframe
output = pd.read_sql(query, engine)
```

As an example, if we want to select everything from the `debt` table, we can do the following:
```python
query = """
SELECT * 
FROM debt
"""

output = pd.read_sql(query, engine)
```

**Question 1.1:** Try this yourself: copy the SQL query from above that selects all the values from the `debt` table.

In [62]:
q1_1 = """
SELECT *
FROM debt
"""

res_q1_1 = pd.read_sql(q1_1, engine)
res_q1_1

,country_name,country_code,indicator_name,indicator_code,debt
0,Afghanistan,AFG,"Disbursements on external debt, long-term (DIS...",DT.DIS.DLXF.CD,72894453.7
1,Afghanistan,AFG,"Interest payments on external debt, long-term ...",DT.INT.DLXF.CD,53239440.1
2,Afghanistan,AFG,"PPG, bilateral (AMT, current US$)",DT.AMT.BLAT.CD,61739336.9
3,Afghanistan,AFG,"PPG, bilateral (DIS, current US$)",DT.DIS.BLAT.CD,49114729.4
4,Afghanistan,AFG,"PPG, bilateral (INT, current US$)",DT.INT.BLAT.CD,39903620.1
...,...,...,...,...,...
2352,Zimbabwe,ZWE,"PPG, official creditors (AMT, current US$)",DT.AMT.OFFT.CD,98492119.9
2353,Zimbabwe,ZWE,"PPG, official creditors (DIS, current US$)",DT.DIS.OFFT.CD,44396033.7
2354,Zimbabwe,ZWE,"PPG, official creditors (INT, current US$)",DT.INT.OFFT.CD,15761660.0
2355,Zimbabwe,ZWE,"Principal repayments on external debt, long-te...",DT.AMT.DLXF.CD,461632253.7
2356,Zimbabwe,ZWE,"Principal repayments on external debt, private...",DT.AMT.DPNG.CD,363140133.8

In [63]:
grader.check("q1_1")

q1_1 results: All test cases passed!

**Question 1.2:** Write a query to select all values for Afghanistan from the `debt` table.

In [64]:
q1_2 = """
SELECT *
FROM debt
WHERE country_name is "Afghanistan"
"""

res_q1_2 = pd.read_sql(q1_2, engine)
res_q1_2

,country_name,country_code,indicator_name,indicator_code,debt
0,Afghanistan,AFG,"Disbursements on external debt, long-term (DIS...",DT.DIS.DLXF.CD,72894453.7
1,Afghanistan,AFG,"Interest payments on external debt, long-term ...",DT.INT.DLXF.CD,53239440.1
2,Afghanistan,AFG,"PPG, bilateral (AMT, current US$)",DT.AMT.BLAT.CD,61739336.9
3,Afghanistan,AFG,"PPG, bilateral (DIS, current US$)",DT.DIS.BLAT.CD,49114729.4
4,Afghanistan,AFG,"PPG, bilateral (INT, current US$)",DT.INT.BLAT.CD,39903620.1
5,Afghanistan,AFG,"PPG, multilateral (AMT, current US$)",DT.AMT.MLAT.CD,39107845.0
6,Afghanistan,AFG,"PPG, multilateral (DIS, current US$)",DT.DIS.MLAT.CD,23779724.3
7,Afghanistan,AFG,"PPG, multilateral (INT, current US$)",DT.INT.MLAT.CD,13335820.0
8,Afghanistan,AFG,"PPG, official creditors (AMT, current US$)",DT.AMT.OFFT.CD,100847181.9
9,Afghanistan,AFG,"PPG, official creditors (DIS, current US$)",DT.DIS.OFFT.CD,72894453.7
10,Afghanistan,AFG,"PPG, official creditors (INT, current US$)",DT.INT.OFFT.CD,53239440.1
11,Afghanistan,AFG,"Principal repayments on external debt, long-te...",DT.AMT.DLXF.CD,100847181.9

In [65]:
grader.check("q1_2")

q1_2 results: All test cases passed!

**Question 1.3:** How many distinct countries are there? Write a query that can help us answer this. Your query output should look like the following:

| | total_distinct_countries |
| --- | --- |
| 0 | XXX |

Hint: remember to rename the column.

In [66]:
q1_3 = """
SELECT COUNT(DISTINCT country_name) AS total_distinct_countries
FROM debt
"""

res_q1_3 = pd.read_sql(q1_3, engine)
res_q1_3

   total_distinct_countries
0                       124

In [67]:
grader.check("q1_3")

q1_3 results: All test cases passed!

**Question 1.4:** What are the distinct debt indicators? Write a query that can help us answer this. And then order the result by the indicators in an alphabetical order. Your query output should look like the following:

| | distinct_debt_indicators |
| --- | --- |
| 0 | DT.AMT.BLAT.CD |
| 1 | DT.AMT.DLXF.CD |
| 2 | ... (rows omitted) |

Hint: remember to rename the column.

In [68]:
q1_4 = """
SELECT DISTINCT indicator_code AS distinct_debt_indicators
FROM debt
ORDER BY distinct_debt_indicators ASC
"""

res_q1_4 = pd.read_sql(q1_4, engine)
res_q1_4

   distinct_debt_indicators
0            DT.AMT.BLAT.CD
1            DT.AMT.DLXF.CD
2            DT.AMT.DPNG.CD
3            DT.AMT.MLAT.CD
4            DT.AMT.OFFT.CD
5            DT.AMT.PBND.CD
6            DT.AMT.PCBK.CD
7            DT.AMT.PROP.CD
8            DT.AMT.PRVT.CD
9            DT.DIS.BLAT.CD
10           DT.DIS.DLXF.CD
11           DT.DIS.MLAT.CD
12           DT.DIS.OFFT.CD
13           DT.DIS.PCBK.CD
14           DT.DIS.PROP.CD
15           DT.DIS.PRVT.CD
16           DT.INT.BLAT.CD
17           DT.INT.DLXF.CD
18           DT.INT.DPNG.CD
19           DT.INT.MLAT.CD
20           DT.INT.OFFT.CD
21           DT.INT.PBND.CD
22           DT.INT.PCBK.CD
23           DT.INT.PROP.CD
24           DT.INT.PRVT.CD

In [69]:
grader.check("q1_4")

q1_4 results: All test cases passed!

**Question 1.5:** What is the total amount of debt for each country? Write a query that can help us answer this. And then order the result by the country name in an alphabetical order. Your query output should look like the following:

| | country_name | total_debt |
| --- | --- | --- |
| 0 | Afghanistan | XXX |
| 1 | Albania | XXX |
| 2 |  | ... (rows omitted) |

Hint: Assume that the total amount of debt is the sum of debt from all categories in the table. Remember to rename the column.

In [70]:
q1_5 = """
SELECT country_name, SUM(debt) AS total_debt
FROM debt
GROUP BY country_name
"""

res_q1_5 = pd.read_sql(q1_5, engine)
res_q1_5.head(10)

  country_name    total_debt
0  Afghanistan  6.809432e+08
1      Albania  3.217067e+09
2      Algeria  5.229731e+08
3       Angola  7.136884e+10
4      Armenia  3.834876e+09
5   Azerbaijan  8.753733e+09
6   Bangladesh  3.504549e+10
7      Belarus  2.327336e+10
8       Belize  6.070627e+08
9        Benin  2.535179e+09

In [71]:
grader.check("q1_5")

q1_5 results: All test cases passed!

**Question 1.6:** Which are the countries with largest debt? Similar to the last question, but order by the total amount of debt this time in a descending order. Break the tie (if any) by country name in an alphabetical order. Your query output should look like the following:

| | country_name | total_debt |
| --- | --- | --- |
| 0 | China | XXX |
| 1 | Brazil | XXX |
| 2 |  | ... (rows omitted) |

Hint: Assume that the total amount of debt is the sum of debt from all categories in the table. Remember to rename the column.

In [72]:
q1_6 = """
SELECT country_name, SUM(debt) AS total_debt
FROM debt
GROUP BY country_name
ORDER BY total_debt DESC
"""

res_q1_6 = pd.read_sql(q1_6, engine)
res_q1_6.head(10)

                                   country_name    total_debt
0                                         China  2.857935e+11
1                                        Brazil  2.806240e+11
2                                    South Asia  2.476087e+11
3  Least developed countries: UN classification  2.128810e+11
4                            Russian Federation  1.912891e+11
5                                      IDA only  1.790481e+11
6                                        Turkey  1.511258e+11
7                                         India  1.336271e+11
8                                        Mexico  1.245968e+11
9                                     Indonesia  1.134357e+11

In [73]:
grader.check("q1_6")

q1_6 results: All test cases passed!

**Question 1.7:** What are the various types of debts and their totals for the developing countries in our data? Write a query that can help us answer this. Order by the total amount of debt for each category in a descending order. Your query output should look like the following:

| | indicator_name | total_debt |
| --- | --- | --- |
| 0 | Principal repayments on external debt, long-te... | XXX |
| 1 | Principal repayments on external debt, private... | XXX |
| 2 |  | ... (rows omitted) |

Hint: remember to rename the column.

In [74]:
q1_7 = """
SELECT indicator_name, SUM(debt) AS total_debt
FROM debt
GROUP BY indicator_name
ORDER BY total_debt DESC
"""

res_q1_7 = pd.read_sql(q1_7, engine)
res_q1_7.head(10)

                                      indicator_name    total_debt
0  Principal repayments on external debt, long-te...  7.322037e+11
1  Principal repayments on external debt, private...  4.077344e+11
2  Disbursements on external debt, long-term (DIS...  2.647011e+11
3         PPG, official creditors (DIS, current US$)  2.389960e+11
4  Interest payments on external debt, long-term ...  2.038590e+11
5          PPG, private creditors (AMT, current US$)  1.767620e+11
6         PPG, official creditors (AMT, current US$)  1.477073e+11
7                  PPG, bilateral (DIS, current US$)  1.382147e+11
8               PPG, multilateral (DIS, current US$)  1.007812e+11
9  Interest payments on external debt, private no...  9.641246e+10

In [75]:
grader.check("q1_7")

q1_7 results: All test cases passed!

**Question 1.8:** Now we want to investigate further about the two countries with the largest debt--China and Brazil. Write a query that select only China and Brazil. Order by the debt category code in an alphabetical order, and break tie by country name in an alphabetical order. Your query output should look like the following:

| | country_name | country_code	| indicator_name | indicator_code | debt |
| --- | --- | --- | --- | --- | --- |
| 0 | Brazil | BRA | PPG, bilateral (AMT, current US\$) | DT.AMT.BLAT.CD | XXX |
| 1 | China | CHN | PPG, bilateral (AMT, current US\$) | DT.AMT.BLAT.CD | XXX |
| 2 |  |  |  |  | ... (rows omitted) |

In [76]:
q1_8 = """
SELECT *
FROM debt
WHERE country_code is "BRA" OR country_code = "CHN"
ORDER BY indicator_code ASC
"""

res_q1_8 = pd.read_sql(q1_8, engine)
res_q1_8

,country_name,country_code,indicator_name,indicator_code,debt
0,Brazil,BRA,"PPG, bilateral (AMT, current US$)",DT.AMT.BLAT.CD,2.097380e+09
1,China,CHN,"PPG, bilateral (AMT, current US$)",DT.AMT.BLAT.CD,6.532446e+09
2,Brazil,BRA,"Principal repayments on external debt, long-te...",DT.AMT.DLXF.CD,9.004184e+10
3,China,CHN,"Principal repayments on external debt, long-te...",DT.AMT.DLXF.CD,9.621862e+10
4,Brazil,BRA,"Principal repayments on external debt, private...",DT.AMT.DPNG.CD,4.183144e+10
5,China,CHN,"Principal repayments on external debt, private...",DT.AMT.DPNG.CD,7.239299e+10
6,Brazil,BRA,"PPG, multilateral (AMT, current US$)",DT.AMT.MLAT.CD,2.514319e+09
7,China,CHN,"PPG, multilateral (AMT, current US$)",DT.AMT.MLAT.CD,2.615724e+09
8,Brazil,BRA,"PPG, official creditors (AMT, current US$)",DT.AMT.OFFT.CD,4.611699e+09
9,China,CHN,"PPG, official creditors (AMT, current US$)",DT.AMT.OFFT.CD,9.148170e+09
10,Brazil,BRA,"PPG, bonds (AMT, current US$)",DT.AMT.PBND.CD,1.940858e+09
11,China,CHN,"PPG, bonds (AMT, current US$)",DT.AMT.PBND.CD,9.834677e+09
12,Brazil,BRA,"PPG, commercial banks (AMT, current US$)",DT.AMT.PCBK.CD,6.538835e+09
13,China,CHN,"PPG, commercial banks (AMT, current US$)",DT.AMT.PCBK.CD,4.046243e+09
14,Brazil,BRA,"PPG, other private creditors (AMT, current US$)",DT.AMT.PROP.CD,3.511900e+10
15,China,CHN,"PPG, other private creditors (AMT, current US$)",DT.AMT.PROP.CD,7.965442e+08
16,Brazil,BRA,"PPG, private creditors (AMT, current US$)",DT.AMT.PRVT.CD,4.359870e+10
17,China,CHN,"PPG, private creditors (AMT, current US$)",DT.AMT.PRVT.CD,1.467746e+10
18,Brazil,BRA,"PPG, bilateral (DIS, current US$)",DT.DIS.BLAT.CD,1.179125e+09
19,Brazil,BRA,"Disbursements on external debt, long-term (DIS...",DT.DIS.DLXF.CD,4.092389e+09
20,China,CHN,"Disbursements on external debt, long-term (DIS...",DT.DIS.DLXF.CD,1.569256e+10
21,Brazil,BRA,"PPG, multilateral (DIS, current US$)",DT.DIS.MLAT.CD,1.949114e+09
22,China,CHN,"PPG, multilateral (DIS, current US$)",DT.DIS.MLAT.CD,3.079501e+09
23,Brazil,BRA,"PPG, official creditors (DIS, current US$)",DT.DIS.OFFT.CD,3.128239e+09
24,China,CHN,"PPG, official creditors (DIS, current US$)",DT.DIS.OFFT.CD,3.079501e+09
25,Brazil,BRA,"PPG, commercial banks (DIS, current US$)",DT.DIS.PCBK.CD,9.641499e+08
26,China,CHN,"PPG, commercial banks (DIS, current US$)",DT.DIS.PCBK.CD,3.777050e+09
27,China,CHN,"PPG, other private creditors (DIS, current US$)",DT.DIS.PROP.CD,3.340122e+08
28,Brazil,BRA,"PPG, private creditors (DIS, current US$)",DT.DIS.PRVT.CD,9.641499e+08
29,China,CHN,"PPG, private creditors (DIS, current US$)",DT.DIS.PRVT.CD,4.111062e+09
30,Brazil,BRA,"PPG, bilateral (INT, current US$)",DT.INT.BLAT.CD,3.332378e+08
31,China,CHN,"PPG, bilateral (INT, current US$)",DT.INT.BLAT.CD,5.148984e+08
32,Brazil,BRA,"Interest payments on external debt, long-term ...",DT.INT.DLXF.CD,1.700165e+10
33,China,CHN,"Interest payments on external debt, long-term ...",DT.INT.DLXF.CD,1.786655e+10
34,Brazil,BRA,"Interest payments on external debt, private no...",DT.INT.DPNG.CD,1.095224e+10
35,China,CHN,"Interest payments on external debt, private no...",DT.INT.DPNG.CD,1.414272e+10
36,Brazil,BRA,"PPG, multilateral (INT, current US$)",DT.INT.MLAT.CD,7.060293e+08
37,China,CHN,"PPG, multilateral (INT, current US$)",DT.INT.MLAT.CD,8.584070e+08
38,Brazil,BRA,"PPG, official creditors (INT, current US$)",DT.INT.OFFT.CD,1.039267e+09
39,China,CHN,"PPG, official creditors (INT, current US$)",DT.INT.OFFT.CD,1.373305e+09
40,Brazil,BRA,"PPG, bonds (INT, current US$)",DT.INT.PBND.CD,2.550410e+09
41,China,CHN,"PPG, bonds (INT, current US$)",DT.INT.PBND.CD,1.224249e+09
42,Brazil,BRA,"PPG, commercial banks (INT, current US$)",DT.INT.PCBK.CD,1.846319e+09
43,China,CHN,"PPG, commercial banks (INT, current US$)",DT.INT.PCBK.CD,9.699331e+08
44,Brazil,BRA,"PPG, other private creditors (INT, current US$)",DT.INT.PROP.CD,6.134210e+08
45,China,CHN,"PPG, other private creditors (INT, current US$)",DT.INT.PROP.CD,1.563424e+08
46,Brazil,BRA,"PPG, private creditors (INT, current US$)",DT.INT.PRVT.CD,5.010150e+09
47,China,CHN,"PPG, private creditors (INT, current US$)",DT.INT.PRVT.CD,2.350525e+09

In [77]:
grader.check("q1_8")

q1_8 results: All test cases passed!

**Question 1.9:** Look at the result above. Do you notice any big difference in the amount of debt in some categories betweem Brazil and China?

There is a lot of variability in ppg related debts. China tends to see a lot more debt than Brazil in this department.

---
## Part 2: Translating SQL queries
In this part, we will do some simple exercise to find equivalent commands in SQL and Pandas.

In this part, we will have two tables or dataframes: `farm` and `shop`. You may have already seen them in the discussion sections!

The `farm` table:

| | crop | price | type | is_red |
| --- | --- | --- | --- | --- |
| 0 | Starfruit | 750 | Fruit | False |
| 1 | Sweet Gem Berry | 3000 | Fruit | True |
| 2 | Red Cabbage | 260 | Vegetable | True |
| 3 | Parsnip | 35 | Vegetable | True |
| 4 | Pumpkin | 320 | Vegetable | False |

The `shop` table:

| | type | on_sale |
| --- | --- | --- |
| 0 | Fruit | True |
| 1 | Vegetable | False |
| 2 | Egg | False |
| 3 | Fish | False |

**Question 2.1:** Which of the following SQL query or queries are logically equivalent to the following Pandas query?

```python
farm.merge(shop, how="inner", on="type")
```

a.
``` mysql
SELECT * FROM farm, shop
WHERE type = type;
``` 
b.
``` mysql
SELECT * FROM farm, shop 
WHERE farm.type = shop.type;
``` 
c.
``` mysql
SELECT * FROM farm
INNER JOIN shop
WHERE farm.type = shop.type;
``` 
d.
``` mysql
SELECT * FROM farm
INNER JOIN shop
ON farm.type = shop.type;
``` 

Assign an array of letters corresponding to your answer to `q2_1` below. For example, `q2_1 = np.array(['a', 'b', 'c', 'd'])`.

In [78]:
q2_1 = np.array(['b', 'd'])

In [79]:
grader.check("q2_1")

q2_1 results: All test cases passed!

**Question 2.2:** Which of the following Pandas command or commands are logically equivalent to the following SQL queries query?

``` mysql
SELECT type, AVG(price)
FROM farm
GROUP BY type;

``` 

a.
``` python
farm["price"].mean()
``` 
b.
``` python
farm.groupby(["type", "price"]).mean()
```  
c.
``` python
farm.groupby("price")[["type"]].mean()
``` 
d.
``` python
farm.groupby("type")[["price"]].mean()
``` 

Assign an array of letters corresponding to your answer to `q2_2` below. For example, `q2_2 = np.array(['a', 'b', 'c', 'd'])`.

In [80]:
q2_2 = np.array(['d'])

In [81]:
grader.check("q2_2")

q2_2 results: All test cases passed!

---
## Feedback

**Question 3:** Please fill out this short [feedback form](https://forms.gle/pYhayJs9JvKNnfHD6) to let us know your thoughts about this lab! We really appreciate your opinions and feedback! At the end of the Google form, you should see a codeword. Assign the codeword to the variable `codeword` below.

In [82]:
codeword = "debt"

In [83]:
grader.check("q3")

q3 results: All test cases passed!

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [84]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False, run_tests=True)

Running your submission against local test cases...



Your submission received the following results when run against available test cases:

    q1_1 results: All test cases passed!

    q1_2 results: All test cases passed!

    q1_3 results: All test cases passed!

    q1_4 results: All test cases passed!

    q1_5 results: All test cases passed!

    q1_6 results: All test cases passed!

    q1_7 results: All test cases passed!

    q1_8 results: All test cases passed!

    q2_1 results: All test cases passed!

    q2_2 results: All test cases passed!

    q3 results:
        q3 - 1 result:
            ❌ Test case failed
            Trying:
                sum([ord(c) for c in codeword])^0xec148 == 966871
            Expecting:
                True
            **********************************************************************
            Line 1, in q3 0
            Failed example:
                sum([ord(c) for c in codeword])^0xec148 == 966871
            Exception raised:
                Traceback (most recent call last):
                  File "/opt/conda/lib/python3.9/doctest.py", line 1334, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q3 0[0]>", line 1, in <module>
                    sum([ord(c) for c in codeword])^0xec148 == 966871
                TypeError: 'ellipsis' object is not iterable